project:
  type: website
  output-dir: docs

website:
  title: "Oliver Brown"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: example-analysis.qmd  # <-- ADD THIS LINE
        text: Ames Housing Analysis  # <-- ADD THIS LINE

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

